annotated-types==0.7.0
anyio==4.10.0
click==8.3.0
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
faiss-cpu==1.12.0
fastapi==0.116.2
filelock==3.19.1
fsspec==2025.9.0
ftfy==6.3.1
h11==0.16.0
idna==3.10
Jinja2==3.1.6
joblib==1.5.2
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.5
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
opencv-python==4.12.0.88
packaging==25.0
pillow==11.3.0
pydantic==2.11.9
pydantic_core==2.33.2
python-dotenv==1.1.1
python-multipart==0.0.20
regex==2025.9.18
scikit-learn==1.7.2
scipy==1.16.2
setuptools==80.9.0
sniffio==1.3.1
starlette==0.48.0
svgwrite==1.4.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
triton==3.4.0
typing-inspection==0.4.1
typing_extensions==4.15.0
uvicorn==0.36.0
wcwidth==0.2.13
passlib
sqlalchemy
bcrypt
psycopg2-binary
pydantic-settings==0.4.3
SQLAlchemy==2.0.32
#if not downloaded inside the virtual environment, run:
"""pip install annotated-types==0.7.0
pip install anyio==4.10.0
pip install click==8.3.0
pip install git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
pip install faiss-cpu==1.12.0
pip install fastapi==0.116.2
pip install filelock==3.19.1
pip install fsspec==2025.9.0
pip install ftfy==6.3.1
pip install h11==0.16.0
pip install idna==3.10
pip install Jinja2==3.1.6
pip install joblib==1.5.2
pip install MarkupSafe==3.0.2
pip install mpmath==1.3.0
pip install networkx==3.5
pip install numpy==2.2.6
pip install nvidia-cublas-cu12==12.8.4.1
pip install nvidia-cuda-cupti-cu12==12.8.90
pip install nvidia-cuda-nvrtc-cu12==12.8.93
pip install nvidia-cuda-runtime-cu12==12.8.90
pip install nvidia-cudnn-cu12==9.10.2.21
pip install nvidia-cufft-cu12==11.3.3.83
pip install nvidia-curand-cu12==10.3.9.90
pip install nvidia-cusolver-cu12==11.7.3.90
pip install nvidia-cusparse-cu12==12.5.8.93
pip install nvidia-cusparselt-cu12==0.7.1
pip install nvidia-nccl-cu12==2.27.3
pip install nvidia-nvjitlink-cu12==12.8.93
pip install nvidia-nvtx-cu12==12.8.90
pip install opencv-python==4.12.0.88
pip install packaging==25.0
pip install pillow==11.3.0
pip install pydantic==2.11.9
pip install pydantic_core==2.33.2
pip install python-dotenv==1.1.1
pip install python-multipart==0.0.20
pip install regex==2025.9.18
pip install scikit-learn==1.7.2
pip install scipy==1.16.2
pip install setuptools==80.9.0
pip install sniffio==1.3.1
pip install starlette==0.48.0
pip install svgwrite==1.4.3
pip install sympy==1.14.0
pip install threadpoolctl==3.6.0
pip install torch==2.8.0
pip install torchvision==0.23.0
pip install tqdm==4.67.1
pip install triton==3.4.0
pip install typing-inspection==0.4.1
pip install typing_extensions==4.15.0
pip install uvicorn==0.36.0
pip install wcwidth==0.2.13
pip install passlib
pip install sqlalchemy
pip install bcrypt
pip install psycopg2-binary
pip install pydantic-settings==0.4.3
pip install SQLAlchemy==2.0.32
pip install pydantic-settings"""